## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

# [作業目標]
- 熟悉更多的 Python 資料操作

# [作業重點]
- 列出資料的大小 (In[4], Hint : shape)
- 列出所有欄位 (In[5], 有多種寫法)
- 擷取部分資料 (In[6], Hint : loc 或 iloc)

In [10]:
import os
import numpy as np
import pandas as pd

In [11]:
# 設定 data_path
dir_data = '/Users/fusu2260801/Desktop/python'

In [12]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: /Users/fusu2260801/Desktop/python/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [13]:
app_train.shape
# 顯示資料的row與column數，不用()lol。command+/註釋快捷鍵lol。

(307511, 122)

#### 列出所有欄位

In [30]:
app_train.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

利用sort_values()做排序

In [34]:
app_train.sort_values('AMT_INCOME_TOTAL').head(10)
# 尚不知如何調整調整升降冪

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
1678,101965,0,Cash loans,F,N,N,0,25650.0,158148.0,5809.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
20727,124157,1,Cash loans,F,Y,Y,0,25650.0,2173500.0,48118.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
240137,378118,0,Cash loans,F,N,N,0,26100.0,90000.0,4329.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
186643,316377,0,Cash loans,F,N,N,0,26100.0,54000.0,5391.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
246104,384810,0,Cash loans,F,N,Y,0,26100.0,173092.5,12438.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
132707,253920,0,Cash loans,F,N,Y,0,26460.0,101880.0,6763.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
262748,404212,0,Cash loans,F,N,N,2,26550.0,101880.0,10053.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
175433,303289,0,Cash loans,F,Y,Y,0,26550.0,571500.0,16281.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4735,105537,0,Cash loans,M,N,Y,0,27000.0,284400.0,9211.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
187572,317441,0,Cash loans,F,N,N,0,27000.0,360000.0,13059.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

#### 截取部分資料

In [35]:
app_train.iloc[0,0]

100002

In [39]:
app_train.loc['1678',:]
# loc用不出來啦啊啊啊Rrrrrr

KeyError: 'the label [1678] is not in the [index]'

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子

In [27]:
app_train.info()
#資料的各項資料

app_train.tail(6)
#資料中倒數5筆，()中輸入數字可顯示對應數字之列數

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 122 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
307505,456249,0,Cash loans,F,N,Y,0,112500.0,225000.0,22050.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,0.0
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0